@media(max-width: 767px)and (min-device-pixel-ratio: 2),(max-width: 767px)and (-webkit-min-device-pixel-ratio: 2),(max-width: 767px)and (min-resolution: 192dpi),(max-width: 767px)and (min-resolution: 2dppx) {
    .hero {
        background-image:url("../img/2x/tui-noctourism-guide-europa/tui-noctourism-guide-europa.webp")
    }
}

@media(min-width: 768px)and (min-device-pixel-ratio: 2),(min-width: 768px)and (-webkit-min-device-pixel-ratio: 2),(min-width: 768px)and (min-resolution: 192dpi),(min-width: 768px)and (min-resolution: 2dppx) {
    .hero {
        background-image:url("../img/2x/tui-noctourism-guide-europa/tui-noctourism-guide-europa.webp")
    }
}
@media screen and (max-width: 768px) {
    .mobile-menu {
        display:block;
    }
    body {
        margin-top:47px;
    }
    .hero {
        background-image: url("../img/1x/tui-noctourism-guide-europa/tui-noctourism-guide-europa.webp")
    }
    .nav-footer--link {
        font-size:16px;
    }
    .section-content-image--wrapper {
        overflow-x:scroll;
    }

    .section-content-image--wrapper img {
        width: 200%;
    }
}




@media screen and (min-width: 769px) {
    .section {
        padding: 80px 0;
    }
    .pt-60 {
        padding-top: 80px!important;
    }
    .mb-60 {
        margin-bottom: 80px!important;
    }
    .mobile-menu {
        height:40%;
    }
    .mobile-menu__bar {
        display:none;
    }
    .hamburger {
        top:11px;
        right: 52px;
        display:none;
    }
    .container {
        margin-left:auto;
        margin-right: auto;
        width: 100%;
    }
    .hero {
        background-image:url("../img/1x/tui-noctourism-guide-europa/tui-noctourism-guide-europa.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 466px;
    }
    .logo-hero {
        display:block;
        opacity: 0;
    }
    .hero-title {
        font-size: 50px;
        line-height: 57px;
    }
    .hero-title span {
        font-size: 36px;
    }
    .nav {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .section-bottom{
        margin-bottom: 70px;
        padding-top: 0;
    }
}
@media(min-width: 1200px) {
    .item-slider {
        border-radius:  0 10px 10px 0;
    }
    .calendar-wrap{
        flex-direction: row;
        min-height: 653px;
    }
    .calendar{
        width: 66.05%;
    }
    .calendar-description{
        width: 33.95%;
    }
    .container-margin{
        margin-top: -310px;
    }
    .container-margin .section-title{
        color: #ffffff;
    }
    .container-margin .section-text{
        color: #ffffff;
    }
    .section-title {
        font-size:30px;
    }
    .container {
        max-width:1116px;
    }
    .container_small {
        max-width: 932px
    }
    .hero {
        background-image:url("../img/1x/tui-noctourism-guide-europa/tui-noctourism-guide-europa.webp");
    }
    .nav-list--link {
        line-height: 19px;
    }
    .swiper-button-next, .swiper-button-prev {
        display: flex!important;
    }
}

@media(min-width: 1200px)and (min-device-pixel-ratio: 2),(min-width: 1200px)and (-webkit-min-device-pixel-ratio: 2),(min-width: 1200px)and (min-resolution: 192dpi),(min-width: 1200px)and (min-resolution: 2dppx) {
    .hero {
        background-image:url("../img/1x/tui-noctourism-guide-europa/tui-noctourism-guide-europa.webp")
    }
}